body{
    margin: 0;
    padding: 0;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    color: white;
}
nav{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main{
    background-color: rgb(41, 65, 171);
    height: 968px;
    background-image: url("https://www-growth.scdn.co/static/home/bursts.svg");
    background-size: 175%;
    background-position: 46% 4%;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer{
    background-color: black;
    height: 530px;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #1ed760
}

.nav-item{
    padding: 28px 17px ;
    font-weight: 700;
}

.main-container{
   
}

.headline{
    font-size: 156px;
    font-weight: 900;
    color: #1ed760;
    position: relative;
    left: 225px;
    padding-bottom: 40px;
}

.headline-first{
    position: relative;
    left: -2.5em;
}

.sub-headline{
    color: #1ed760;
    font-size: 18px;
    text-align: center;
    padding-bottom: 40px;
}

.button-area{
    text-align: center;
}

.button-style{
    background-color: #1ed760;
    border: none;
    border-radius: 50px;
    color: black;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 32px;
    cursor: pointer;
}

.button-style:hover{
    transform: scale(1.2);
}

.footer-container{
    max-width: 1170px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 346px;
}

.first-box{
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.second-box{
  width: 40%;
  display: flex;
  justify-content: flex-end;
    align-items: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

  .sub-title {
  color: #919496;
  font-weight: 900;
  margin: 20px 0px;
  }

  .footer-menu-item {
  padding-bottom: 15px;
  padding-top: 3px;
  font-size: 16px;
}

.icon-box {
  width: 54px;
  height: 54px;
  background-color: #222322;
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 24px;
}
.icon:hover {
  color: #2de26d;
}

.first-line {
  color: #919496;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.second-line {
  color: #919496;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.second-line-item {
  margin-right: 24px;
  color: #919496;
}