body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.box1 {
  width: 300px;
  height: 300px;
  background-color: gray;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.box1::before {
  content: "div 1";
  position: absolute;
  top: 5px;
  left: 5px;
}

.box2 {
  width: 180px;
  height: 180px;
  background-color: black;
  color: white;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}

