body {
  display: flex;
}

.box {
  width: 300px;
  height: 300px;
  background-color: black;
  border:1px solid white;
}

.right-container {
  display: flex;
  justify-content: end
}

.left-box {
  margin-right: auto;
}

