body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 세로 전체 화면 */
  margin: 0;
}

.box {
  width: 300px;
  height: 300px;
  background-color: black;
  color: white;
  border: 1px solid white;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  box-sizing: border-box;
}

.box1 {
  align-self: flex-start; /* 왼쪽 */
}

.box2 {
  align-self: center; /* 가운데 */
}

.box3 {
  align-self: flex-end; /* 오른쪽 */
}