body {
  margin: 0;
  padding: 0px;
}

.container {
  position: relative;
  width: 600px;
  height: 600px;
}

.box1 {
  width: 300px;
  height: 300px;
  background-color: black;
  color: white;
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.box2 {
  width: 300px;
  height: 300px;
  background-color: gray;
  color: white;
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 150px;
  left: 150px;
  z-index: 2;
}