body{
    display: contents;
}
    
.narvar {
   float: right;
   margin: 20px;
}

.nav-item {
   text-decoration: none;
    color: black;
    margin-right: 15px;
}

.nav-item:hover {
    text-decoration: underline;
}

.main{
    margin-top: 300px;
    text-align: center;
}

.input-area{
    margin-top: 20px;
}

.input-box{
    width: 584px;
    height: 46px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: none;
}

.search-icon{
    position: relative;
    left: 40px;
    color: gray;
    margin: 10px;
}

.mic-icon{
    position: relative;
    right: 40px;
    color: gray;
    margin: 10px;
}

.button-area{
    margin-top: 18px;
}

.button-style{
    margin: 5px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    padding: 0px 16px;
    font-size: 14px;
    color: #3c4043;
    font-family: sans-serif, Arial;
}

.button-style:hover{
    border: 1px solid #c6c6c6;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
    cursor: pointer;
}

.footer{
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
    width: 100%;
}

.first-line{
    border-bottom: 1px solid #dfe1e5;
    padding: 15px 30px;
    font-size: 15px;
    color:rgba(0, 0, 0,.54);
}

.second-line{
    padding: 15px 30px;
    font-size: 15px;
    color:rgba(0, 0, 0,.54);
}

.language-area a{
    margin-top: 18px;
}

.language{
    text-decoration: none;
    color: #1a0dab;
    padding: 0 3px;
}